<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 align-self-center text-center">
            <h1><i class="fa-solid fa-bomb"></i>  <br> 404</h1>
            <h2>UH OH! Estas perdido. </h2>
            <p> La página que estas buscando no existe. Como llegaste aqui es un misterio, pero puedes presionar clic en el botón siguiente y volver al inicio.
            </p>
            <button [routerLink]="['/']" class="btn btn-primary">Inicio</button>
        </div>
    </div>
</div>