<nav class="navbar navbar-dark bg-primary sticky-top">
    <div class="container">
        <h3 class="navbar-brand">
            <a class="navbar-brand" [routerLink]="['/']">
                <i class="fa-solid fa-list-check"></i>
            </a>
            <span class="d-none d-sm-inline-block">TODO APP</span>
        </h3>

        <div class="d-flex">
            <div class="d-grid">
                <a [routerLink]="['/tasks/edit']">
                    <button class="btn btn-sm btn-outline-light d-inline-block btn-plus border-dashed">
                        <i class="fa-solid fa-plus"></i> <span class="ms-1">Crea tarea</span>
                    </button>
                </a>
            </div>
            <div class="ms-2 d-grid">
                <button class="btn btn-sm" (click)="changeModeColor()">
                    <i [hidden]="mode == 'dark'" class="fa-solid fa-moon fs-5 text-light"></i>
                    <i [hidden]="mode == 'light'" class="fa-solid fa-sun fs-5 text-light"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>
</div>
