a {
    color: inherit;
}

.task-label {
    font-size: 12px;
    vertical-align: sub;
    width: 100%;
    height: 100%;
}

.text-small {
    font-size: 14px;
}

.text-extra-small {
    font-size: 12px;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-dashed {
    border-style: dashed;
}